---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Comprehensive Tutorials",
    description:
      "Learn the principles of thermal management through detailed articles and step-by-step tutorials.",
    icon: "bx:bxs-book",
  },
  {
    title: "Video Guides",
    description:
      "Watch expert-led videos to understand and tackle heat management challenges effectively.",
    icon: "bx:bxs-videos",
  },
  {
    title: "Expert Insights",
    description:
      "Access professional experiences and tips to enhance your thermal design strategies.",
    icon: "bx:bxs-bulb",
  },
  {
    title: "Customized Cooling Solutions",
    description:
      "Get tailored thermal solutions designed to meet your specific product needs.",
    icon: "bx:bxs-cube",
  },
  {
    title: "Consulting Services",
    description:
      "Receive professional guidance to optimize your product’s thermal performance.",
    icon: "bx:bxs-conversation",
  },
  {
    title: "Thermal Module Manufacturing",
    description:
      "Partner with us for high-quality thermal module production and assembly services.",
    icon: "bx:bxs-cog",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Thermal Management Solutions
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    ThermoMGT is dedicated to simplifying the complexities of thermal management and delivering effective results.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
